::after {
  
}

body {
  font-family: Roboto, sans-serif;
  color: #434455;
  background-color: #ffffff;
}

ul {
  list-style: none;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

a {
  text-decoration: none;
}

img {
  display: block;
}

.link-element {
  color: #2e2f42;
  display: inline-block;
}

.link-element:visited {
  color: #2e2f42;
}

.link-element:hover,
.link-element:active,
.link-element:focus {
  color: #404bbf;
}

.address-link {
  color: #434455;
}

.address-link:visited {
  color: #434455;
}

.address-link:hover,
.address-link:active,
.address-link:focus {
  color: #404bbf;
}

.heading-color {
  color: #2e2f42;
}

.subheading {
  font-family: Roboto;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: left;
  margin-bottom: 8px;
}

.logo-accent {
  color: #2e2f42;
}

.section {
  padding: 120px 0;
}

/* HEADER */
.header {
  justify-content: center;
  border-bottom: 1px solid #e7e9fc;
}

.header-logo {
  font-family: Raleway, sans-serif;
  align-items: center;
  line-height: 1.17;
  font-weight: 700;
  font-size: 18px;
  margin-right: 76px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.header-logo:visited {
  color: #4d5ae5;
}

.header-logo:visited {
  color: #4d5ae5;
  padding: 0 15px 0 15px;
  width: 1158px;
}

.container {
  align-items: center;
  width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
}

.header-container {
  display: flex;
}

.header-navigation {
  align-items: center;
  display: flex;
}

.header-navigation__list {
  display: flex;
  gap: 40px;
  margin-right: 40px;
  padding: 0;
  margin: 0;
}

.header-navigation__list-item .link-element {
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-right: 0px;
  padding: 24px 0 24px;
}

.header-address {
  margin-left: auto;
  font-style: normal;
}

.header-address__list {
  align-items: center;
  gap: 40px;
  margin: 0;
  display: flex;
  padding: 0;
}

.header-address__list .address-link {
  display: flex;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-right: 0px;
}

/* HERO SECTIOIN */
.hero-section {
  background-color: #2e2f42;
  color: #ffffff;
  padding: 188px 0 188px;
}

.hero-section .container {
  flex-direction: column;
}

.hero-section__title {
  max-width: 496px;
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  margin: 0 auto 48px;
}

.hero-section__button {
  display: block;
  min-width: 169px;
  height: 56px;
  border: none;
  background-color: #4d5ae5;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: inherit;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 8px;
  margin: 0 auto;
}

.hero-section__button:hover,
.hero-section__button:focus {
  background-color: #404bbf;
}

/* ABOUT US SECTION */
.about-us-section .container {
  flex-direction: column;
}
.about-us-section__content {
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

.about-us-section__list {
  display: flex;
  gap: 24px;
  margin: 0;
}

.about-us-section__list-item {
  flex-basis: calc((100% - 3 * 24px) / 4);
  margin: 0;
}

.heading-title {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* OUR TEAM SECTION */
.our-team-section {
  background-color: #f4f4fd;
}

.our-team-section .container {
  flex-direction: column;
}

.our-team-section__list {
  gap: 24px;
  margin: 0;
}

.features-list-item {
}
.our-team-section__list-item {
  background-color: #ffffff;
  flex-basis: calc((100% - 3 * 24px) / 4);
  border-radius: 0px 0px 4px 4px;
}

.our-team-section__list-description {
  padding: 32px 0;
}

.our-team-section__list-item__title {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.our-team-section__list-item__content {
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.our-team-section__list {
  display: block;
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  padding: 0;
}

.our-team-section__list-description {
  text-align: center;
}

/* OUR PORTFOLIO SECTION */

.our-portfolio-section {
 
}

.our-portfolio-section .container {
  flex-direction: column;
}

.our-portfolio-section__list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
  margin: 0;
}

.our-portfolio-section__list-item {
  width: calc((100% - 48px) / 3);
}

.our-portfolio-section__list-item__title {
  margin-bottom: 8px;
}

.our-portfolio-section__list-description {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

/* FOOTER */
.footer {
  background-color: #2e2f42;
  padding: 100px 0;
}

.footer .container {
  flex-direction: column;
  align-items: flex-start;
}

.logo {
  font-family: "Raleway", sans-serif;
  color: #4d5ae5;
  font-weight: 700;
  font-size: 18px;
  font-style: normal;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase; 
}

.footer-logo .logo-accent {
  color: #f4f4fd;
}

.footer-logo {
  display: inline-block;
  margin-bottom: 16px;
}

.footer-content {
  color: #f4f4fd;
  line-height: 1.5;
  letter-spacing: 0.02em;
  max-width: 264px
}
